.playerBlock{
    color:#fff;
}
.badRating,.normalRating,.goodRating,.greatRating{
    position: absolute;
    top: -20px;
    right: -25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;

    color: #fff;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 6px #e9cc74);
}
.badRating{
    background-color: #ce3636;
    filter: drop-shadow(6px 6px 12px #d32c2c);
}
.normalRating{
    background-color: #FECE24;
}
.goodRating{
    background-color: #86b234;

}
.greatRating{
    background-color: #3ED027;
    filter: drop-shadow(4px 3px 16px #FECE24);
    text-shadow: 3px 3px 5px #4b9555;
    font-size: 28px;
}

